In [1]:
import omdb
import sqlite3
import pandas as pd
import os
import requests
import shutil
import io
import PIL.Image as Image

# first read in OMDB python key
with open('api_key') as f:
    lines = f.readlines()
api_key = lines[0]
omdb.set_default('apikey', api_key)

In [2]:
# set acronyms
st = {'tos': {'title': 'The Original Series', 'imdbid': 'tt0060028'},
      'tas': {'title': 'The Animated Series', 'imdbid': 'tt0069637'},
      'tng': {'title': 'The Next Generation', 'imdbid': 'tt0092455'},
      'ds9': {'title': 'Deep Space Nine',     'imdbid': 'tt0106145'},
      'voy': {'title': 'Voyager',             'imdbid': 'tt0112178'},
      'ent': {'title': 'Enterprise',          'imdbid': 'tt0244365'},
      'dis': {'title': 'Discovery',           'imdbid': 'tt5171438'},
      'sho': {'title': 'Short Treks',         'imdbid': 'tt9059594'},
      'pic': {'title': 'Picard',              'imdbid': 'tt8806524'},
      'lds': {'title': 'Lower Decks',         'imdbid': 'tt9184820'},
      'pro': {'title': 'Prodigy',             'imdbid': 'tt9795876'},
      'snw': {'title': 'Strange New Worlds',  'imdbid': 'tt12327578'},
      }

In [60]:
db_filename = "treklist.db"

# delete current database
os.remove(db_filename)

# make omdb requests for series
conn = sqlite3.connect(db_filename)
curs = conn.cursor()
conn.execute("DROP TABLE IF EXISTS series")
conn.execute("CREATE TABLE series (abb TEXT, title TEXT, imdb_id TEXT, year TEXT, total_seasons INTEGER, poster BLOB, rated TEXT)")
for key in st.keys():
    res = omdb.imdbid(st[key]['imdbid'])
    img = requests.get(res['poster'], stream=True)

    cmd = "INSERT INTO series (abb, title, imdb_id, year, total_seasons, poster, rated) VALUES " + \
         f"('{key}', '{res['title']}', '{res['imdb_id']}', '{res['year']}', {res['total_seasons']}, ?, '{res['rated']}');"
    curs.execute(cmd, [sqlite3.Binary(img.content)])
    conn.commit()

    # insert poster
    #cmd = f"UPDATE series SET poster = ? WHERE imdb_id = {res['imdb_id']}"
    #with open('test.jpg','wb') as f:
    #    shutil.copyfileobj(img.raw, f)
    #curs.execute(cmd, )

df = pd.read_sql_query("SELECT * FROM series", conn)
print(df)

# optional - read back a poster
#curs.execute("SELECT * FROM series WHERE imdb_id = 'tt12327578'")
#record = curs.fetchall()
#image = Image.open(io.BytesIO(record[0][5]))
#image.show()

    abb                           title     imdb_id       year  total_seasons  \
0   tos                       Star Trek   tt0060028  1966–1969              3
1   tas  Star Trek: The Animated Series   tt0069637  1973–1975              2
2   tng  Star Trek: The Next Generation   tt0092455  1987–1994              7
3   ds9      Star Trek: Deep Space Nine   tt0106145  1993–1999              7
4   voy              Star Trek: Voyager   tt0112178  1995–2001              7
5   ent           Star Trek: Enterprise   tt0244365  2001–2005              4
6   dis            Star Trek: Discovery   tt5171438      2017–              5
7   sho          Star Trek: Short Treks   tt9059594      2018–              2
8   pic               Star Trek: Picard   tt8806524      2020–              3
9   lds          Star Trek: Lower Decks   tt9184820      2020–              3
10  pro              Star Trek: Prodigy   tt9795876      2021–              1
11  snw   Star Trek: Strange New Worlds  tt12327578      2022–              1

                                               poster  rated
0   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-PG
1   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-Y7
2   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-PG
3   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-PG
4   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-PG
5   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-PG
6   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-14
7   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-PG
8   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-MA
9   b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-14
10  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...  TV-Y7
11  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...    N/A

## Episodes Request

In [73]:
for key in st.keys():
    conn.execute(f"DROP TABLE IF EXISTS {key}")
    conn.execute(f"CREATE TABLE {key} (season INTEGER, episode INTEGER, title TEXT, poster BLOB, released DATE, imdb_id TEXT)")
    
for key in st.keys():
    tot_seasons = df['total_seasons'][df['abb'] == key].values[0]
    for season in range(tot_seasons):
        season += 1 # account for zero index
        res = omdb.imdbid(st[key]['imdbid'], season=season)
        for ep in res['episodes']:
            cmd = f"INSERT INTO {key} (season, episode, title, released, imdb_id) VALUES " + "(?, ?, ?, ?, ?)"#"(%i, %i, %s, %s, %s)"
            curs.execute(cmd, [season, ep['episode'], ep['title'], ep['released'], ep['imdb_id']])
conn.commit()

KeyError: 'total_seasons'

In [65]:
df = pd.read_sql_query("SELECT * FROM tng", conn)
df

,season,episode,title,poster,released,imdb_id
0,1,1,Encounter at Farpoint,None,1987-09-26,tt0094030
1,1,2,The Naked Now,None,1987-10-03,tt0708810
2,1,3,Code of Honor,None,1987-10-10,tt0708689
3,1,4,The Last Outpost,None,1987-10-17,tt0708804
4,1,5,Where No One Has Gone Before,None,1987-10-24,tt0708842
...,...,...,...,...,...,...
164,7,21,Firstborn,None,1994-04-23,tt0708716
165,7,22,Bloodlines,None,1994-04-30,tt0708681
166,7,23,Emergence,None,1994-05-07,tt0708705
167,7,24,Preemptive Strike,None,1994-05-14,tt0708757
168,7,25,All Good Things...,None,1994-05-23,tt0111281

In [64]:
df

,season,episode,title,poster,released,imdb_id
0,1,1,Encounter at Farpoint,None,1987-09-26,tt0094030
1,1,2,The Naked Now,None,1987-10-03,tt0708810
2,1,3,Code of Honor,None,1987-10-10,tt0708689
3,1,4,The Last Outpost,None,1987-10-17,tt0708804
4,1,5,Where No One Has Gone Before,None,1987-10-24,tt0708842
...,...,...,...,...,...,...
164,7,21,Firstborn,None,1994-04-23,tt0708716
165,7,22,Bloodlines,None,1994-04-30,tt0708681
166,7,23,Emergence,None,1994-05-07,tt0708705
167,7,24,Preemptive Strike,None,1994-05-14,tt0708757
168,7,25,All Good Things...,None,1994-05-23,tt0111281

In [72]:
df.to_dict('list').keys()

dict_keys(['season', 'episode', 'title', 'poster', 'released', 'imdb_id'])

In [86]:
len(df)

169

In [85]:
list(df.to_dict('list').keys())[0]

'season'